.Search {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}

.Search-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Search-columns {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-x: hidden;
}

.Search-listContainer {
  border-right: 1px solid rgb(159, 152, 135);
  flex: 1;
  max-width: 450px;
}

.Search-mapContainer {
  /*width: 500px;
  height: 500px;*/
  display: flex;
  flex: 1;
}

.Search-map {
  /*width: 500px;
  height: 500px;*/
  flex: 1;
}

.Search-switchContainer {
  background: rgb(159, 152, 135);
  display: none;
  height: 50px;
}

.Search-switchList,
.Search-switchMap {
  display: inline-block;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}

.Search-mapViewButton,
.Search-listViewButton {
  background-color: #e4e4e4;
  border-radius: 5px;
  display: table-cell;
  height: 30px;
  margin: 10px 0;
  padding: 0 30px;
  vertical-align: middle;
}


@media (max-width:420px) {
  .Search-listContainer {
    border: 0;
    max-width: none;
    position: fixed;
    transition: left 0.3s ease;
    left: -1000px;
  }

  .Search-listContainer.showing {
    position: relative;
    left: 0;
  }

  .Search-mapContainer {
    position: fixed;
    right: -1000px;
    transition: right 0.3s ease;
    z-index: 5001;
  }

  .Search-mapContainer.showing {
    position: relative;
    right: 0;
  }

  .Search-switchContainer {
    display: block;
  }
}
