<div class="Topbar">
  <a href="/" class="Topbar-heading">Egg Finder</a>
  <a href="/" class="Topbar-egg"></a>
  <div class="Topbar-search">
    <form action="/search" class="Topbar-searchForm">
      <input class="Topbar-searchInput" type="text" name="q" placeholder="Search for an addresss...">
      <button class="Topbar-searchButton"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <i class="Topbar-barsIcon fa fa-bars"></i>
  {{#if user}}
    <nav class="Topbar-navigation">
      <div class="Topbar-navigationItem">
        <a href="/profile" class="Topbar-navigationLink">{{user.email}}</a>
      </div>
      <div class="Topbar-navigationItem">
        <a href="/logout" class="Topbar-navigationLink">Sign Out</a>
      </div>
    </nav>
  {{else}}
    <nav class="Topbar-navigation">
      <div class="Topbar-navigationItem">
        <a href="/login" class="Topbar-navigationLink">Log In</a>
      </div>
      <div class="Topbar-navigationItem">
        <a href="/signup" class="Topbar-navigationLink">Sign Up</a>
      </div>
    </nav>
  {{/if}}
  <div class="Topbar-black"></div>
</div>
