{{> header}}
{{> topbar}}
<div class="Home ContentBox">
  <h1 class="ContentBox-header">
    Find farm fresh eggs near you!
  </h1>
  <div class="Home-content ContentBox-content">
    <h3>Most recent additions:</h3>
    <ul class="Locations-list">
      {{#each locations}}
        <li class="Locations-listItem" data-feature-id="{{this.id}}">
          <div class="Locations-columnContainer">
            <div class="Locations-listItemLeftCol">
              <h4>{{this.name}}</h4>
              <span class="Locations-address">{{this.address}}</span>
              <div class="Locations-cityState">{{this.city}}, {{this.state}}</div>
            </div>
            <div class="Locations-listItemRightCol">
              <ul class="Locations-tagSet">
                {{#if this.available}}<li class="Locations-tag">In stock</li>{{/if}}
                {{#if this.organic}}<li class="Locations-tag">Organic</li>{{/if}}
                {{#if this.freeRange}}<li class="Locations-tag">Free Range</li>{{/if}}
              </ul>
            </div>
          </div>
          <div class="Locations-description">{{this.description}}</div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
{{> footer js="home"}}
