{{> header}}
{{> topbar}}
<div class="Location ContentBox">
  <h1 class="ContentBox-header">
    {{ location.name }}
  </h1>
  <div class="Location-content ContentBox-content">
    <div class="Location-leftColumn">
      <ul class="Location-tagSet">
        {{#if location.available}}<li class="Location-tag">In stock</li>{{/if}}
        {{#if location.organic}}<li class="Location-tag">Organic</li>{{/if}}
        {{#if location.freeRange}}<li class="Location-tag">Free Range</li>{{/if}}
      </ul>
      <p class="Location-phone">{{location.phone}}</p>
      <p class="Location-address">{{location.address}}</p>
      <p class="Location-cityState">{{location.city}}, {{location.state}}</p>
      <p class="Location-description">{{ location.description }}</p>
      <div class="ContactForm">
        <h3>Contact this seller</h3>
        {{#if message}}
          <div class="Message Message--{{message.type}}">
            {{message.text}}
          </div>
        {{/if}}
        <form method="post" action="/location/{{ location.id }}" class="ContactForm-form">
          <div class="Form-group Form-group--vertical">
            <label for="email" class="Form-label">Your email address</label>
            <input type="text" id="email" name="email" class="Form-input">
          </div>
          <div class="Form-group Form-group--vertical Form-textareaGroup">
            <label for="message" class="Form-label">Your message</label>
            <textarea class="Form-input" id="message" name="message" class="Form-input"></textarea>
          </div>
          <button class="Button" type="submit">Send Message</button>
        </form>
      </div>
    </div>
    <div class="Location-rightColumn">
      <div id="map"></div>
    </div>
  </div>
</div>
<script>
  var feature = {{{feature}}}
</script>
{{> footer js="location"}}
