{{> header}}
{{> topbar}}
<div class="CreateProfile ContentBox">
  <div class="CreateProfile-header ContentBox-header">
    <h2>Create A Profile</h2>
  </div>
  <div class="ContentBox-content">
    {{#if message}}
      <div class="Message Message--{{message.type}}">{{message.text}}</div>
    {{/if}}
    <form method="post" action="/profile/create" class="CreateProfile-form">
      <div class="Form-group">
        <label for="name" class="Form-label Profile-formLabel">
          Display Name
        </label>
        <input type="text" class="Form-input Profile-input" name="name" id="name" required="true" value={{name}}>
      </div>
      <div class="Form-group">
        <label for="phone" class="Form-label Profile-formLabel">
          Phone Number
        </label>
        <input type="tel" class="Form-input Profile-input" name="phone" id="phone" required="true" value={{phone}}>
      </div>
      <div class="Form-group">
        <label for="public" class="Form-label Profile-formLabel">
          List profile publicly
        </label>
        <input type="checkbox" class="Form-input Profile-input Profile-checkbox" name="isPublic" id="public" required="true" checked="{{isPublic}}" value=true>
      </div>
      <div class="Form-group">
        <label for="available" class="Form-label Profile-formLabel">
          Eggs currently in stock
        </label>
        <input type="checkbox" class="Form-input Profile-input Profile-checkbox" name="available" id="available" required="true" checked="{{available}}" value=true>
      </div>
      <div class="Form-group">
        <label for="price" class="Form-label Profile-formLabel">
          Price per dozen
        </label>
        <input type="number" class="Form-input Profile-input" name="price" id="price" required="true" value={{price}} step="0.50" min="0.50">
      </div>
      <div class="Form-group">
        <label for="address" class="Form-label Profile-formLabel">
          Address or nearest intersection
        </label>
        <input type="text" class="Form-input Profile-input" name="address" id="address" required="true" value={{address}}>
      </div>
      <div class="Form-group">
        <label for="city" class="Form-label Profile-formLabel">
          City
        </label>
        <input type="text" class="Form-input Profile-input" name="city" id="city" required="true" value={{city}}>
      </div>
      <div class="Form-group">
        <label for="state" class="Form-label Profile-formLabel">
          State
        </label>
        <input type="text" class="Form-input Profile-input" name="state" id="state" required="true" value={{state}}>
      </div>
      <div class="Form-group">
        <label for="zipcode" class="Form-label Profile-formLabel">
          Zipcode
        </label>
        <input type="text" class="Form-input Profile-input" name="zipcode" id="zipcode" required="true" value={{zipcode}}>
      </div>
      <div class="Form-group Form-textareaGroup">
        <label for="description" class="Form-label Profile-formLabel">
          Description
        </label>
        <textarea class="Form-input Profile-input" name="description" id="description" required="true" value={{description}}></textarea>
      </div>
      <button type="submit" class="Button">Submit</button>
    </form>
  </div>
{{> footer}}
