{{> header}}
{{> topbar}}
<div class="ResetPassword ContentBox">
  <h2 class="ContentBox-header">Reset Your Password</h2>
  {{#if message}}
    <div class="Message Message--{{message.type}}">{{message.text}}</div>
  {{/if}}
  <div class="ResetPassword-content ContentBox-content">
    <form method="post" action="/reset-password" class="ResetPassword-form">
      <label for="email" class="Form-label">Enter the email associated with your account</label>
      <input type="email" id="email" name="email" class="ResetPassword-email Form-input">
      <button class="ResetPassword-submit Button">Submit</button>
    </form>
  </div>
</div>
{{> footer}}
