{{> header}}
{{> topbar}}
<div class="Search">
  <div class="Search-content">
    <div class="Search-columns">
      <div class="Search-listContainer">
        <div class="Search-list">
          <div class="ListFilter">
          </div>
          <div class="Locations">
            <ul class="Locations-list">
              {{#each locations}}
                <li class="Locations-listItem" data-feature-id="{{this.id}}">
                  <div class="Locations-columnContainer">
                    <div class="Locations-listItemLeftCol">
                      <h4>{{this.name}}</h4>
                      <span class="Locations-address">{{this.address}}</span>
                      <div class="Locations-cityState">{{this.city}}, {{this.state}}</div>
                    </div>
                    <div class="Locations-listItemRightCol">
                      <ul class="Locations-tagSet">
                        {{#if this.available}}<li class="Locations-tag">In stock</li>{{/if}}
                        {{#if this.organic}}<li class="Locations-tag">Organic</li>{{/if}}
                        {{#if this.freeRange}}<li class="Locations-tag">Free Range</li>{{/if}}
                      </ul>
                    </div>
                  </div>
                </li>
              {{/each}}
          </div>
        </div>
      </div>
      <div class="Search-mapContainer">
        <div class="Search-map" id="map"></div>
      </div>
    </div>
    <div class="Search-switchContainer">
      <div class="Search-switchList">
        <button class="Search-listViewButton">
          List View
        </button>
      </div>
      <div class="Search-switchMap">
        <button class="Search-mapViewButton">
          Map View
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  var collection = {{{collection}}}
</script>
{{> footer js="search"}}
